
@{
    ViewBag.Title = "Thank You";
}

<h1>
    Thank you!
</h1>
<p>Thank you for completing your <strong>High 5 for Quality CARES Professional Development Incentive Program</strong> application. 
    <span class="text-danger">You will now need to download, print and complete the additional Application Documentation forms:</span></p>

<p><a href="~/App_Data/Application Docs.pdf" class="btn btn-primary">Application Documents</a> (<a href="~/Documents/Application Docs (Spanish).pdf">Spanish</a>).</p>

<p>Send the completed documents by mail or fax to:</p>

<p>
    Fax: 530-294-1506<br />
    Mail: Elizabeth Blakemore<br />
    EDCOE<br />
    6767 Green Valley Road<br />
    Placerville, CA 95667</p>

<p>Applications will be reviewed and participants will be accepted until the program is full. You will be notified via email upon 
    acceptance of your application. If you have any difficulties with the application or application documents, please call 
    530-295-2403 or 530-295-2312.</p>