@{
    ViewBag.Title = "Thank You";
}

<h1>
    Thank you!
</h1>
<p>Your application has been received.  You will also receive this confirmation in an email.</p>


<p>You have completed STEP 1.</p>
<p>STEP 2: Download and print the <a href="CaresPlusStep2.pdf">Application Documentation</a> (<a href="CaresPlusStep2Spanish.pdf">Spanish</a>) for additional application documents.  Complete and submit by mail or fax to 530-295-1506.</p>
<p>
    STEP 3: If you are applying for Component D, My Teaching Partner, you must complete the
    My Teaching Partner Agreement to Participate (<a href="CaresPlusStep3.pdf">live link to form</a>/<a href="CaresPlusStep3Spanish.pdf">Spanish</a>). For more information click <a href="PK_MTP_Teacher_Info.pdf"><span class="eyecatching">HERE</span></a>.  Applications
    for the My Teaching Partner option must be received by August 10, 2015.
</p>
<p>
    If you are applying for Component B, you must also submit unofficial transcripts
    for your application to be considered complete. Unofficial transcripts can be
    submitted either by mail or fax or personal delivery.
</p>
<p>
    Applications will be reviewed and participants will be accepted until the
    program is full. Notification of acceptance into the CARES Plus Program will
    made via email by September 4, 2015. If you have any difficulties with the
    application or application documents, please call 530-295-2403 or 530-295-2312.
</p>