<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.net xdt:Transform="Replace">
    <mailSettings>
      <smtp from="donotreply@edcoe.org">
        <network host="smtp.office365.com" port="587" userName="donotreply@edcoe.org" password="edc0e123" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>